<ul>
	<% @projects.each do |project| %>
		<li><%= project.name %></li>
	<% end %>
</ul>

<ul><strong>
	<% @projects.each do |project| %>
		<li><%= project.description %></li>
	<% end %></strong>
</ul>