<h1>List of Projects</h1>

<ul>
	<% @projects_list.each do |project| %>
		<li><%= project.name %>
			<% if project.description != nil %>
			
			-
			<%= project.description %>
		</li>
		<% end %>
	<% end %>
</ul>



