<ul>
	<% @projects_list.each do |project| %>
		<li><%= project.name %>
			<% if project.description != nil %>
			"We have a description"
			-
			<%= project.description %>
		</li>
		<% end %>
	<% end %>
</ul>



